/* Variables
---------------------------*/
/* Color */
/* Animations */
@keyframes attention {
  0% {
    transform: translateX(0%) scale(1);
  }
  51% {
    transform: translateX(0%) scale(1);
  }
  55% {
    transform: translateX(0%) scale(1.15);
  }
  59% {
    transform: translateX(0%) scale(1);
  }
  100% {
    transform: translateX(0%) scale(1);
  }
}

@keyframes backgroundMovement {
  0% {
    background-position: 0% 0%;
  }
  0% {
    background-position: 8.75% -18.75%;
  }
}

/* General
-----------------------------*/
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

body {
  background-image: url("assets/images/bg_pattern_dark.png");
  height: 100vh;
  background-size: 8%;
  animation-name: backgroundMovement;
  animation-duration: 7.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body.active {
  animation-name: backgroundMovement;
  animation-iteration-count: infinite;
}

* {
  transform: translate3d(0, 0, 0);
}

.moods {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: transparent;
}

.moods .mood {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.25);
  opacity: 0;
  background-color: transparent;
  transition: 1s ease all;
  background-size: cover;
}

.moods .mood.active {
  transform: scale(1);
  opacity: 0.65;
}

h1, h2, h3, h4, p, a, li, label, span {
  text-rendering: auto;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}

h1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

/* Header
-----------------------------*/
header {
  margin: 7% 0;
  position: relative;
  z-index: 1;
  top: 45%;
  transform: translateY(-50%) scale(2);
  transition: 2s ease all !important;
}

header.active {
  top: 0;
  transform: translateY(0%) scale(1);
}

header .logo img {
  display: block;
  margin: 0 auto;
  width: 15%;
}

/* Views
-----------------------------*/
section {
  position: absolute;
  width: 100%;
  z-index: 2;
  height: 70vh;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: 1s ease all;
}

section.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(0%);
  transition: 1.5s ease all 1s !important;
}

section.exit-left {
  transform: scale(0.95) translateX(-15%);
}

section.exit-right {
  transform: scale(0.95) translateX(15%);
}

section.position-right {
  transform: scale(0.95) translate(15%);
  transition: transform 0s;
}

section.position-left {
  transform: scale(0.95) translateX(-15%);
  transition: transform 0s;
}

section .container {
  position: relative;
  height: 85%;
  text-align: center;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Kelson', sans-serif;
}

/* Welcome */
section.intro h1 {
  font-family: 'Kirvy', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 3vh;
  font-weight: 100;
  margin-top: 0;
}

section.intro h3 {
  font-family: 'Kelson Light', sans-serif;
  font-size: 2vh;
  font-weight: 100;
  text-align: center;
  margin: 0 auto;
  padding: 0 25%;
  line-height: 1.25em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Mood */
section.mood h1 {
  font-family: 'Kirvy', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 3vh;
  font-weight: 100;
  margin-top: 0;
}

section.mood h3 {
  font-family: 'Kelson Light', sans-serif;
  font-size: 2vh;
  font-weight: 100;
  text-align: center;
  margin: 0 auto;
  padding: 0 25%;
  line-height: 1.25em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Alle drank schermen */
section.dranken h1 {
  font-family: 'Kelson Light';
  color: #fff;
  font-size: 3vh;
  font-weight: 100;
  display: block;
  text-align: center;
  padding: 0 23%;
}

section.dranken .categories {
  width: 100%;
  height: 85%;
}

section.dranken .categories > div {
  position: absolute;
  width: 20vh;
  height: 20vh;
  top: calc( 50% - 15vh);
  left: calc( 50% - 10vh);
}

section.dranken .categories > div .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  transition: 0.75s ease all;
}

section.dranken .categories > div.active .background {
  transform: scale(1.15) !important;
  transition-delay: 1s;
}

section.dranken .categories > div .drinks {
  display: none;
}

section.dranken .categories .coffee {
  transform: translateY(-55%) translateX(-55%);
}

section.dranken .categories .coffee .background {
  background-image: url("assets/images/type_coffee.png");
  opacity: 0;
  transform: scale(0.75);
}

section.dranken .categories .soft {
  transform: translateY(-55%) translateX(55%);
}

section.dranken .categories .soft .background {
  background-image: url("assets/images/type_soft.png");
  opacity: 0;
  transform: scale(0.75);
}

section.dranken .categories .wine .background {
  background-image: url("assets/images/type_wine.png");
  opacity: 0;
  transform: scale(0.75);
  transition-delay: 0.1s;
}

section.dranken .categories .beer {
  transform: translateY(55%) translateX(-55%);
}

section.dranken .categories .beer .background {
  background-image: url("assets/images/type_beer.png");
  opacity: 0;
  transform: scale(0.75);
}

section.dranken .categories .gin {
  transform: translateY(55%) translateX(55%);
}

section.dranken .categories .gin .background {
  background-image: url("assets/images/type_gin.png");
  opacity: 0;
  transform: scale(0.75);
}

section.dranken .categories.active div .background {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.1s;
}

section.dranken .categories.active div.wine .background {
  transition-delay: 0s;
}

section.dranken .currentCategorie {
  display: block;
  margin: 0 auto;
  text-align: center;
  transform: scale(0.5);
  opacity: 0;
  transition: 0.5s ease all;
}

section.dranken .currentCategorie.active {
  opacity: 1;
  transform: scale(0.75);
}

section.dranken .currentCategorie div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 22vw;
  height: 22vw;
  background-size: contain;
  opacity: 0;
  transition: 3s ease all;
}

section.dranken .currentCategorie div.active {
  opacity: 1;
  transform: translateX(-50%);
}

section.dranken .currentCategorie div.coffee {
  background-image: url("assets/images/black_coffee.png");
}

section.dranken .currentCategorie div.soft {
  background-image: url("assets/images/black_soft.png");
}

section.dranken .currentCategorie div.wine {
  background-image: url("assets/images/black_wine.png");
}

section.dranken .currentCategorie div.beer {
  background-image: url("assets/images/black_beer.png");
}

section.dranken .currentCategorie div.gin {
  background-image: url("assets/images/black_gin.png");
}

section.dranken .drinks-loader {
  position: absolute;
  width: 100%;
  top: 35%;
  opacity: 1;
  transition: 1s ease all;
  z-index: 1;
}

section.dranken .drinks-loader.description {
  top: 25%;
}

section.dranken .drinks-loader.active .drink {
  opacity: 1;
  transition: 1s ease all;
}

section.dranken .drinks-loader .drink {
  position: absolute;
  width: 14vh;
  height: 14vh;
  left: calc( 50% - 7vh);
  opacity: 0;
  transition: 1s ease all;
}

section.dranken .drinks-loader .drink img {
  max-height: 100%;
  max-width: 100%;
}

section.dranken .drinks-loader .drink.hide {
  opacity: 0;
  transform: scale(1.25) !important;
}

section.dranken .drinks-loader .drink.active {
  opacity: 1 !important;
  transform: translateY(0%) translateX(0%) scale(1.5) !important;
}

section.dranken .drinks-loader .drink:nth-child(1) {
  transform: translateY(-50%) translateX(-60%);
}

section.dranken .drinks-loader .drink:nth-child(2) {
  transform: translateY(-50%) translateX(60%);
}

section.dranken .drinks-loader .drink:nth-child(3) {
  transform: translateY(10%) translateX(0%);
}

section.dranken .drinks-loader .drink:nth-child(4) {
  transform: translateY(70%) translateX(-60%);
}

section.dranken .drinks-loader .drink:nth-child(5) {
  transform: translateY(70%) translateX(60%);
}

section.dranken .drinks-loader .drink:nth-child(6) {
  transform: translateY(130%) translateX(0%);
}

section.dranken .drinks-loader .drink:nth-child(7) {
  transform: translateY(190%) translateX(-60%);
}

section.dranken .drinks-loader .drink:nth-child(8) {
  transform: translateY(190%) translateX(60%);
}

section.dranken .drink-info {
  position: absolute;
  top: 35%;
  left: calc( 50% - 40%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  box-sizing: border-box;
  padding: 11vh 3vw 3vw;
  z-index: 0;
  opacity: 0;
  height: 0vh;
  overflow: hidden;
  transition: 1s ease all;
}

section.dranken .drink-info.active {
  opacity: 1;
  height: 42vh;
}

section.dranken .drink-info.ordered {
  top: 55%;
  padding: 2vh;
  height: 9vh;
}

section.dranken .drink-info.ordered h2 {
  font-weight: 500;
  line-height: 5vw;
  margin: 1vh;
}

section.dranken .drink-info.ordered h2 span {
  transform: translateX(-50%);
  left: 50%;
  font-size: 5vw;
}

section.dranken .drink-info.ordered p {
  opacity: 0;
}

section.dranken .drink-info h2 {
  color: #fff;
  font-family: 'Kirvy', sans-serif;
  font-weight: 500;
  transition: 1s ease all;
}

section.dranken .drink-info h2 span {
  position: absolute;
  left: 0%;
  font-size: 3vw;
  transition: 1s ease all;
}

section.dranken .drink-info p {
  margin-top: 10vw;
  font-size: 2vw;
  color: #fff;
  font-family: 'Kelson Sans', sans-serif;
  line-height: 2em;
  opacity: 1;
  transition: 1s;
}

/* Footer
-----------------------------*/
footer {
  position: absolute;
  width: 100%;
  bottom: 5%;
  opacity: 0;
  transform: translateY(5vh) scale(0.75);
  transition: 1s ease all;
}

footer.active {
  opacity: 1;
  transform: translateY(0vh) scale(1);
  transition: 1s ease all 1s;
}

footer .message {
  position: relative;
  font-family: 'Kelson Light', sans-serif;
  color: #fff;
  display: block;
  line-height: 5vh;
  font-size: 2vh;
  text-align: center;
}

footer .message p {
  display: inline-block;
  position: relative;
  max-width: 75vw;
  transition: 1s ease all;
}

footer .message p.changing {
  transition: 1s ease all;
  max-width: 0vw;
}

footer .message p span {
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 75vw;
  opacity: 1;
  transition: 1s ease all;
  height: 5vh;
  white-space: nowrap;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

footer .message p span.changing {
  max-width: 0vw;
  opacity: 0;
  transition: 1s ease all;
}

footer .message p:after {
  content: "";
  position: absolute;
  top: 0;
  right: -5vh;
  width: 5vh;
  height: 5vh;
  background-image: url("assets/images/telephone.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(0%);
  animation-name: attention;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
