//@import '';

/* Variables
---------------------------*/

/* Color */

$white: #fff;
$black: #000;


/* Animations */

@keyframes attention {
    0% {transform: translateX(0%) scale(1);}
    51% {transform: translateX(0%) scale(1);}
   	55% {transform: translateX(0%) scale(1.15);}
   	59% {transform: translateX(0%) scale(1);}
    100% {transform: translateX(0%) scale(1);}
}

@keyframes backgroundMovement {
	0% { background-position: 0% 0%; }
	0% { background-position: 8.75% -18.75%; }
}


/* General
-----------------------------*/

html, body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
}

body{
	background-image: url('assets/images/bg_pattern_dark.png');
	height: 100vh;
	//background-size: 125px;
	background-size: 8%;
	animation-name: backgroundMovement;
	animation-duration: 7.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	&.active{
		animation-name: backgroundMovement;
		animation-iteration-count: infinite;
	}
}

*{
	transform: translate3d(0,0,0)
}

.moods{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	background-color: transparent;
	.mood{
		position: absolute;
		width: 100%;
		height: 100%;
		transform: scale(1.25);
		opacity: 0;
		background-color: transparent;
		transition: 1s ease all;
		background-size: cover;
		&.active{
			transform: scale(1);
			opacity: 0.65;
		}
	}
}

h1,h2,h3,h4, p, a, li, label, span{
	text-rendering: auto;
	text-rendering: optimizeSpeed;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
}

h1{
	text-shadow: 2px 2px 5px rgba($black, 0.25);
}


/* Header
-----------------------------*/

header{
	margin: 7% 0;
	position: relative;
	z-index: 1;
	top: 45%;
	transform: translateY(-50%) scale(2);
	transition: 2s ease all !important;
	&.active{
		top: 0;
		transform: translateY(0%) scale(1);
	}
	.logo{
		img{
			display: block;
			margin: 0 auto;
			width: 15%;
		}
	}
}


/* Views
-----------------------------*/

section{
	position: absolute;
	width: 100%;
	z-index: 2;
	height: 70vh;
	opacity: 0;
	visibility: hidden;
	transform: scale(0.9);
	transition: 1s ease all;
	//transition-delay: 2s ease all !important;
	&.active{
		visibility: visible;
		opacity: 1;
		transform: scale(1) translateX(0%);
		transition: 1.5s ease all 1s !important;
	}
	&.exit-left{
		transform: scale(0.95) translateX(-15%);
	}
	&.exit-right{
		transform: scale(0.95) translateX(15%);
	}
	&.position-right{
		transform: scale(0.95) translate(15%);
		transition: transform 0s;
	}
	&.position-left{
		transform: scale(0.95) translateX(-15%);
		transition: transform 0s;
	}
	.container{
		position: relative;
		//background-color:  #222;
		height: 85%;
		text-align: center;
		display: flex;
		align-items: center;
		color: $white;
		font-family: 'Kelson', sans-serif;
	}
}


/* Welcome */

section.intro{
	h1{
		font-family: 'Kirvy', sans-serif;
		color: $white;
		text-align: center;
		font-size: 3vh;
		font-weight: 100;
		margin-top: 0;
	}
	h3{
		font-family: 'Kelson Light', sans-serif;
		font-size: 2vh;
		font-weight: 100;
		text-align: center;
		margin: 0 auto;
		padding: 0 25%;
		line-height: 1.25em;
		text-shadow: 2px 2px 5px rgba($black, 0.5);
	}
}


/* Mood */

section.mood{
	h1{
		font-family: 'Kirvy', sans-serif;
		color: $white;
		text-align: center;
		font-size: 3vh;
		font-weight: 100;
		margin-top: 0;
	}
	h3{
		font-family: 'Kelson Light', sans-serif;
		font-size: 2vh;
		font-weight: 100;
		text-align: center;
		margin: 0 auto;
		padding: 0 25%;
		line-height: 1.25em;
		text-shadow: 2px 2px 5px rgba($black, 0.5);
	}
}


/* Alle drank schermen */

section.dranken{
	h1{
		font-family: 'Kelson Light';
		color: $white;
		font-size: 3vh;
		font-weight: 100;
		display: block;
		text-align: center;
		padding: 0 23%;
	}
	
	.categories{
		width: 100%;
		height: 85%;
		> div{
			position: absolute;
			width: 20vh;
			height: 20vh;
			top: calc( 50% - 15vh );
			left: calc( 50% - 10vh );
			.background{
				position: absolute;
				width: 100%;
				height: 100%;
				background-size: contain;
				transition: 0.75s ease all;
			}
			&.active{
				.background{
					transform: scale(1.15) !important;
					transition-delay: 1s;
				}
			}
			.drinks{
				display: none;
			}
		}
		.coffee{
			transform: translateY(-55%) translateX(-55%);
			.background{
				background-image: url('assets/images/type_coffee.png');
				opacity: 0;
				transform: scale(0.75);
			}
		}
		.soft{
			transform: translateY(-55%) translateX(55%);
			.background{
				background-image: url('assets/images/type_soft.png');
				opacity: 0;
				transform: scale(0.75);
			}
		}
		.wine{
			.background{
				background-image: url('assets/images/type_wine.png');
				opacity: 0;
				transform: scale(0.75);
				transition-delay: 0.1s;
			}
		}
		.beer{
			transform: translateY(55%) translateX(-55%);
			.background{
				background-image: url('assets/images/type_beer.png');
				opacity: 0;
				transform: scale(0.75);
			}
		}
		.gin{
			transform: translateY(55%) translateX(55%);
			.background{
				background-image: url('assets/images/type_gin.png');
				opacity: 0;
				transform: scale(0.75);
			}
		}
		&.active{
			div{ 
				.background{
					opacity: 1;
					transform: scale(1);
					transition-delay: 0.1s;
				}
				&.wine{
					.background{
						transition-delay: 0s;
					}
				}
			}
		}
	}

	.currentCategorie{
		display: block;
		margin: 0 auto;
		text-align: center;
		transform: scale(0.5);
		opacity: 0;
		transition: 0.5s ease all;
		&.active{
			opacity: 1;
			transform: scale(0.75);
		}
		div{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 22vw;
			height: 22vw;
			background-size: contain;
			opacity: 0;
			transition: 3s ease all;
			&.active{
				opacity: 1;
				transform: translateX(-50%);
			}
			&.coffee{
				background-image: url('assets/images/black_coffee.png');
			}
			&.soft{
				background-image: url('assets/images/black_soft.png');
			}
			&.wine{
				background-image: url('assets/images/black_wine.png');
			}
			&.beer{
				background-image: url('assets/images/black_beer.png');
			}
			&.gin{
				background-image: url('assets/images/black_gin.png');
			}
		}
	}
	
	.drinks-loader{
		position: absolute;
		width: 100%;
		top: 35%;
		opacity: 1;
		transition: 1s ease all;
		z-index: 1;
		&.description{
			top: 25%;
		}
		&.active{
			.drink{
				opacity: 1;
				transition: 1s ease all;
			}
		}
		.drink{
			position: absolute;
			width: 14vh;
			height: 14vh;
			left: calc( 50% - 7vh );
			opacity: 0;
			transition: 1s ease all;
			img{
				max-height: 100%;
				max-width: 100%;
			}
			&.hide{
				opacity: 0;
				transform: scale(1.25) !important;
			}
			&.active{
				opacity: 1 !important;
				transform: translateY(0%) translateX(0%) scale(1.5) !important;
			}
			&:nth-child(1){
				transform: translateY(-50%) translateX(-60%);
			}
			&:nth-child(2){
				transform: translateY(-50%) translateX(60%);
			}
			&:nth-child(3){
				transform: translateY(10%) translateX(0%);
			}
			&:nth-child(4){
				transform: translateY(70%) translateX(-60%);
			}
			&:nth-child(5){
				transform: translateY(70%) translateX(60%);
			}
			&:nth-child(6){
				transform: translateY(130%) translateX(0%);
			}
			&:nth-child(7){
				transform: translateY(190%) translateX(-60%);
			}
			&:nth-child(8){
				transform: translateY(190%) translateX(60%);
			}
		}
	}

	.drink-info{
		position: absolute;
		top: 35%;
		left: calc( 50% - 40%);
		background-color: rgba(0,0,0, 0.5);
		width: 80%;
		box-sizing: border-box;
		padding: 11vh 3vw 3vw;
		z-index: 0;
		opacity: 0;
		height: 0vh;
		overflow: hidden;
		transition: 1s ease all;
		&.active{
			opacity: 1;
			height: 42vh; 
		}
		&.ordered{
			top: 55%;
			padding: 2vh;
			height: 9vh;
			h2{
				font-weight: 500;
				line-height: 5vw;
				margin: 1vh;
				span{
					transform: translateX(-50%);
					left: 50%;
					font-size: 5vw;
				}
			}
			p{
				opacity: 0;
			}
		}
		h2{
			color: $white;
			font-family: 'Kirvy', sans-serif;
			font-weight: 500;
			transition: 1s ease all;
			span{
				position: absolute;
				left: 0%;
				font-size: 3vw;
				transition: 1s ease all;
			}
		}
		p{
			margin-top: 10vw;
			font-size: 2vw;
			color: $white;
			font-family: 'Kelson Sans', sans-serif;
			line-height: 2em;
			opacity: 1;
			transition: 1s;
		}
	}

}


/* Footer
-----------------------------*/

footer{
	position: absolute;
	width: 100%;
	bottom: 5%;
	opacity: 0;
	transform: translateY(5vh) scale(0.75);
	transition: 1s ease all;
	&.active{
		opacity: 1;
		transform: translateY(0vh) scale(1);
		transition: 1s ease all 1s;
	}
	.message{
		position: relative;
		font-family: 'Kelson Light', sans-serif;
		color: $white;
		display: block;
		line-height: 5vh;
		font-size: 2vh;
		text-align: center;
		p{
			display: inline-block;
			position: relative;
			max-width: 75vw;
			transition: 1s ease all;
			&.changing{
				transition: 1s ease all;
				max-width: 0vw;
				//opacity: 0;
			}
			span{
				display: inline-block;
				position: relative;
				overflow: hidden;
				max-width: 75vw;
				opacity: 1;
				transition: 1s ease all;
				height: 5vh;
				white-space: nowrap;
				text-shadow: 2px 2px 5px rgba($black, 0.25);
				&.changing{
					max-width: 0vw;
					opacity: 0;
					transition: 1s ease all;
				}
			}
			&:after{
				content: "";
				position: absolute;
				top: 0;
				right: -5vh;
				width: 5vh;
				height: 5vh;
				background-image: url('assets/images/telephone.png');
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				transform: translateX(0%);
				animation-name: attention;
				animation-duration: 5s;
				animation-iteration-count: infinite;
			}
		}
	}
}
